@import "../../../../assets/scss/variables.scss";


@mixin mitre-box(){
  border-radius: 24px 0px 0px 24px;
  border: 1px solid  rgba(255, 255, 255, 0.00);
  padding: 24px;
  background: linear-gradient(0deg, rgba(25, 26, 29, 0.20) 0%, rgba(25, 26, 29, 0.20) 100%), #232428;
  backdrop-filter: blur(10px);
}

@mixin mitre-description-text(){
  margin-top: 7.5px;
  padding: 12px 12px 12px 24px;
  border-radius: 8px;
  background: $pure-black;
  line-height: 20.8px;
  letter-spacing: 0.196px!important;
}


@mixin mitre-phase-techniques-box(){
  border-radius: 24px;
  border: 1px solid  rgba(85, 94, 160, 0.10);
  background: linear-gradient(0deg, rgba(25, 26, 29, 0.20) 0%, rgba(25, 26, 29, 0.20) 100%), linear-gradient(188deg, rgba(53, 53, 58, 0.27) -8.13%, rgba(103, 104, 115, 0.21) 112.6%);
  backdrop-filter: blur(10px);

}

@mixin mitre-clusters-box(){
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-gap: 1.0rem;
  padding: 10px;

}

@mixin mitre-cards-box(){
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.5rem, 0.23fr));
  grid-gap: 1rem;
  &.single{
    grid-template-columns: repeat(auto-fit, minmax(6.5rem, 0.21fr));
  }
  overflow: auto;
  max-height: 25.10rem;
}

.mitre-attack{

  @include mitre-box();

  &__info{
    &__description__box{
      &__text{
        @include mitre-description-text();
      }
    }
  }

  &__footer{
    &__phase{

      &__clusters{
        @include mitre-phase-techniques-box();
        @include mitre-clusters-box();
      }
    }

    &__techniques{
      &__cards{
        @include mitre-phase-techniques-box();
        @include mitre-cards-box();
      }

    }
  }

}
